raven==5.1.1
flask-cache==0.13.1
clint==0.4.1

# Atlas Core
git+https://github.com/cid-harvard/atlas_core.git@v0.2.8#egg=atlas_core

# Classifications
git+https://github.com/cid-harvard/classifications.git@v0.0.78#egg=linnaeus

# Reckoner - data quality / assertions
git+https://github.com/cid-harvard/reckoner.git@e2b55dbeac09a9f677dd83b41c6168b75872133c#egg=reckoner

# Override atlas_core dependencies
git+https://github.com/cid-harvard/flask-sqlalchemy.git@5599861ef61ac7c0f9139c525c61ab4ac0cef5b4#egg=flask-sqlalchemy
marshmallow==2.0.0b4
