raven==5.1.1
flask-cache==0.13.1
clint==0.4.1

# Atlas Core
git+https://github.com/cid-harvard/atlas_core.git@v0.2.7#egg=atlas_core

# Classifications
git+https://github.com/cid-harvard/classifications.git@v0.0.38#egg=linnaeus

# Reckoner - data quality / assertions
git+https://github.com/cid-harvard/reckoner.git@850e1322226107262a9c6a9af24b9440f3b5b35b#egg=reckoner

# Override atlas_core dependencies
git+https://github.com/nickw444/flask-sqlalchemy.git@a801e50035009c107a6628937320a0fd4957d86c#egg=flask-sqlalchemy
marshmallow==2.0.0b4
