Flask==0.10.1
SQLAlchemy==0.9.8
raven==5.1.1
flask-restful==0.3.1
flask-script==2.0.5
flask-cache==0.13.1
-e /Users/makmana/atlas_core
#flask-sqlalchemy==2.0
-e git+https://github.com/nickw444/flask-sqlalchemy.git#egg=flask-sqlalchemy@a801e50035009c107a6628937320a0fd4957d86c
